Feleves beadando/XSDILVIYV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:attribute name="id" type="xs:int"/>

<xs:simpleType name="név">
  <xs:restriction base="xs:string">
    <xs:minLength value="1"/>   
  </xs:restriction>
</xs:simpleType>



<xs:element name="XMLILVIYV">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="vevők">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="vevő" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="név" type="név"/>
                                    <xs:element name="email" type="xs:string"/>
                                    <xs:element name="telefonszám" type="xs:int"/>
                                    <xs:element name="cím"> 
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="irányítószám" type="xs:int"/>
                                                <xs:element name="város" type="xs:string"/>
                                                <xs:element name="utca" type="xs:string"/>
                                                <xs:element name="házszám" type="xs:int"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="rendelések">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="rendelés">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="étterem_id" type="xs:int"/>
                                                            <xs:element name="státusz" type="xs:string"/>
                                                            <xs:element name="leadási_ideje" type="xs:string"/>
                                                            <xs:element name="szállítási_ideje" type="xs:string"/>
                                                            <xs:element name="tranzakció">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="összeg" type="xs:int"/>
                                                                        <xs:element name="kitől" type="xs:int"/>
                                                                        <xs:element name="kinek" type="xs:int"/>
                                                                        <xs:element name="közlemény" type="xs:string"/>
                                                                    </xs:sequence>
                                                                    <xs:attribute ref="id"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="ételek">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="étel" maxOccurs="unbounded">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element name="ár" type="xs:int"/>
                                                                                    <xs:element name="elkészítési_idő" type="xs:int"/>
                                                                                    <xs:element name="allergének" type="xs:string"/>
                                                                                    <xs:element name="éttermek">
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                                <xs:element name="étterem" maxOccurs="unbounded">
                                                                                                    <xs:complexType>
                                                                                                        <xs:sequence>
                                                                                                            <xs:element name="cím" type="xs:string"/>
                                                                                                            <xs:element name="név" type="xs:string"/>
                                                                                                            <xs:element name="értékelés" type="xs:double"/> 
                                                                                                        </xs:sequence>
                                                                                                        <xs:attribute ref="id"/>
                                                                                                    </xs:complexType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                                <xs:attribute name="név" type="xs:string"/>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="futár">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="név" type="xs:string"/>
                                                                        <xs:element name="helyzet" type="xs:string"/>
                                                                        <xs:element name="közlekedés" type="xs:string"/> 
                                                                    </xs:sequence>
                                                                    <xs:attribute ref="id"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute ref="id"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute ref="id"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:unique name="vevő_id">
        <xs:selector xpath="vevő" />
        <xs:field xpath="@id" />
    </xs:unique>
    <xs:unique name="rendelés_id">
        <xs:selector xpath="rendelés" />
        <xs:field xpath="@id" />
    </xs:unique>
    <xs:unique name="tranzakció_id">
        <xs:selector xpath="tranzakció" />
        <xs:field xpath="@id" />
    </xs:unique>
    <xs:unique name="futár_id">
        <xs:selector xpath="futár" />
        <xs:field xpath="@id" />
    </xs:unique>
    <xs:unique name="étel_név">
        <xs:selector xpath="étel" />
        <xs:field xpath="@név" />
    </xs:unique>
    <xs:unique name="étterem_id">
        <xs:selector xpath="étterem" />
        <xs:field xpath="@id" />
    </xs:unique>

    <xs:keyref refer="vevő_id" name="Rendelés_vevő">
            <xs:selector xpath="rendelés" />
            <xs:field xpath="@vevő_id"/>
    </xs:keyref>
    <xs:keyref refer="rendelés_id" name="Tranzakció_rendelés">
            <xs:selector xpath="tranzakció" />
            <xs:field xpath="@id" />
    </xs:keyref>
    <xs:keyref refer="rendelés_id" name="Futár_rendelés">
            <xs:selector xpath="futár" />
            <xs:field xpath="@id" />
    </xs:keyref>
    <xs:keyref refer="rendelés_id" name="Étel_rendelés">
            <xs:selector xpath="étel" />
            <xs:field xpath="@id" />
    </xs:keyref>
    <xs:keyref refer="étel_név" name="Étterem_étel">
            <xs:selector xpath="étterem" />
            <xs:field xpath="@étel_név" />
    </xs:keyref>
    <xs:keyref refer="étterem_id" name="Rendelés_étterem">
            <xs:selector xpath="rendelés" />
            <xs:field xpath="@étterem_id" />
    </xs:keyref>
</xs:element>




</xs:schema>