ILVIYV_1109/studentILVIYV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="keresztnév"/>
                <xs:element name="vezetéknév"/>
                <xs:element name="becenév"/>
                <xs:element name="kor"/>
            </xs:sequence>
            <xs:attribute name="id" />
        </xs:complexType>
    </xs:element>
</xs:schema>